$colors:(
    primary:#a1887f,
    primary-dark:#725b53,
    primary-light:#d3b8ae,
    secondary:#607d8b,
    secondary-dark:#34515e,
    secondary-light:#8eacbb,
    text-primary:#263238,
    text-secondary:#fafafa
);

@function color($color-name){
    @return map-get($colors, $color-name)
}
