$colors:(
    primary: #DAD9D6,
    primary-light:#A3A3A3,
    primary-dark:#313944,
    secondary:#504444,
    secondary-dark: #232323,
    text-primary:#263238,
    text-secondary:#fafafa
);

@function color($color-name){
    @return map-get($colors, $color-name)
}
