/*@import "./header";
@import "./column";
*/

$colors:(
    primary:#a1887f,
    primary-dark:#725b53,
    primary-light:#d3b8ae,
    secondary:#607d8b,
    secondary-dark:#34515e,
    secondary-light:#8eacbb,
    text-primary:#263238,
    text-secondary:#fafafa
);

@function color($color-name){
    @return map-get($colors, $color-name)
}

html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

section{
    display: flex;
    height: 80vh;
    background-color: color(primary);
}

flexchild-1{
    height: 40vh;
    background-color: color(secondary);
    display: flex;
}

flexchild-2{
    height: 40vh;
    background-color: color(secondary);
    display: flex;
}

flexchild-3{
    height: 40vh;
    background-color: color(secondary);
    display: flex;
}
