/*@import "./header";
@import "./column";
*/

$colors:(
    primary:#a1887f,
    primary-dark:#725b53,
    primary-light:#d3b8ae,
    secondary:#607d8b,
    secondary-dark:#34515e,
    secondary-light:#8eacbb,
    text-primary:#263238,
    text-secondary:#fafafa
);

@function color($color-name){
    @return map-get($colors, $color-name)
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    body{
        background-color: color(secondary-light);
    }
}


.section {
    background-color: color(secondary-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-child {
    flex-direction: row;
    justify-content: space-between;
}

.header{
    display: flex;
    background-color: color(secondary-dark);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.title{
    height: 10rem;
    width: 40rem;
}

.about{

}
